*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "League Spartan", sans-serif;
    font-size: 0.938rem;
    line-height: 1.5;
}

/* Typography */
.section-main-content{
    text-align: center;
}
.section-heading{
    font-size: 2.5rem;
    color: hsl(300, 43%, 22%);
    line-height: .75;
    margin-bottom: 0;
}
.section-text{
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}

/* Layout */
.container{
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
}
.rating-item, .review-user-name{
    font-weight: 700;
}
.rating-item{
    display: flex;
    flex-direction: column;
    color: hsl(300, 43%, 22%);
    background: #F8F2F9;
    padding: .75em;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1em;
}
.rating-text{
    margin: 0;
}
.reviews{
    display: flex;
    flex-direction: column;
}
.review{
    background: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    border-radius: 5px;
    padding: 1em 1.5em;
    margin-bottom: 1em;
    font-weight: 500;
}
.review-header{
    display: flex;
    justify-content: left;
    align-items: center;
    gap:25px;
}
.profile-image ,.user-profile{
    border-radius: 50%;
    height: 40px;
}
.review-user-name{
    margin-bottom:-2px;
}
.verified-user,.review-text{
    margin-top: 0;
}
.verified-user{
    color:  hsl(333, 80%, 67%);
}

@media (min-width: 850px) {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
    }
    .rating-item , .reviews{
        flex-direction: row;
    }
    .reviews{
        grid-column: 1 / -1;
        gap: 30px;
        width: 100%;
    }
    .section-main-content{
        width: 70%;
        text-align: left;
        align-self: center;
    }
    .section-heading{
        line-height: .8;
    }
    .ratings{
        align-self: center;
        padding-top: 3em;
    }
    .rating-item{
        padding:1em 3em;
        justify-content: space-between;
    }
    .rating-item:nth-child(2){
        position: relative;
        right: 10%;
    }
    .rating-item:nth-child(1){
        position: relative;
        right: 20%;
    }
    .review:nth-child(2){
        position: relative;
        top: 10%;
    }
    .review:nth-child(3){
        position: relative;
        top: 20%;
    }
  }
  